.htaccess.sample
.modgit/
.modman/
app/code/core/
app/design/install/
app/.htaccess
app/bootstrap.php
app/locale/en_US/
app/Mage.php
/cron.php
cron.sh
dev/.htaccess
dev/tests/functional/
downloader/
errors/
favicon.ico
/get.php
includes/
index.php.sample
/install.php
var/di
var/generation
var/view_preprocessed
var/backups